// src/CupomCadastro.scss

.cupom-cadastro {
    padding: 20px 16px;
    background-color: #FFE9DC;
    color: #333;
    font-family: sans-serif;
  
    h3 {
      font-size: 1.2rem;
      font-weight: lighter;
      text-align: center;
      color: red;
      margin-bottom: 10px;

      &.finalizado {
        color: #000;
      }
    }

    .copiar-btn {
        text-decoration: underline;
    }  
  
    .form-email {
      display: flex;
      flex-direction: column;
      gap: 10px;
      margin-bottom: 20px;
  
      input[type="email"] {
        padding: 12px;
        font-size: 0.9rem;
        border: 1px solid #ccc;
        border-radius: 1px;
      }
  
      button {
        padding: 12px;
        margin-top: -15px;
        font-size: 0.9rem;
        background-color: #B11B26;
        color: #fff;
        border: none;
        font-weight: lighter;
        border-radius: 1px;
        cursor: pointer;
      }
    }

    .cupom {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 12px;
    
        .codigo {
            padding: 15px;
            font-size: 1rem;
            width: 70%;
            text-align: center;
            color: #b11b26;
            font-weight: lighter;
            background-color: #fff;
            //Se aumentar mais o px, o pontilhado fica mais espaçado
            //Demorei pra entender isso;
            border: 3px #919191;
            border-style: dashed;

            border-right: none;
            border-radius: 40px 0 0 40px;
        }
    
        button {
            padding: 17px;
            width: 30%;
            font-size: 1rem;
            background-color: #b11b26;
            color: #fff;
            border: none;
            border-radius: 0 45px 45px 0; //isso faz as bordas ficarem arredondadas, demorei um pouquinho.
            font-weight: 500;
            cursor: pointer;
            transition: background-color 0.3s ease;
    
          &:hover {
            background-color: #91141f;
          }
        }
    }

}